{% extends "home/home.html" %}

{% block content %}
{% include "staff/menu.html" %}
      <div id="page-wrapper">
          <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <h1 class="panel">Monthly sales</h1>
                  <div id="main" style="width: 600px;height:400px;"></div>
                </div>
              </div>
            </div><!-- /.row -->

        </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->
{% endblock %}
{% block js %}
<script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
    <script type="text/javascript">
      var myChart = echarts.init(document.getElementById('main'));

      var option = {
          tooltip: {},
          legend: {
              data:['Sales']
          },
          xAxis: {
              data: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
          },
          yAxis: {},
          series: [{
              name: 'Sales',
              type: 'bar',
              data: {{ticket_list}}
          }]
      };

      myChart.setOption(option);
  </script>
{% endblock %}
